@font-face {
    font-family: 'Playwrite';
    src: url(font/Felipa/Felipa-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-self: center;
    padding: 1rem;
    border-bottom: 1rem solid #D4789C;
}

.title {
    display: flex;  
    align-self: center;
    justify-content: center;
    flex-grow: 1;
    font-family: 'Playwrite', cursive;
}

.logo {
    display: flex;
    border-radius: 35px 15px 40px 40px;
    width: 65px;
    height: 75px;
}

h1 {
    display: flex;
    align-self: center;
    font-size: 2.5rem;
    margin-left: 1rem;
    color: #A90747;
}

nav {
    display: flex;
    align-items: stretch;
    align-self: center;
    flex-grow: 2;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin: auto;
}

 nav a {
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    display: flex;
    margin: auto;
}
